body {
    background-color: black;
    text-align: center;
    margin: 0px;
}

#array-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.array-bar {
    background-color: white;
    display: inline-block;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    margin: 5px;
    outline: none;
    border-radius: 5px;
}

#status-bar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px;
    color: red;
    font-size: 1em;
    text-align: left;
}

p {
    margin: 0px;
    padding: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
}
