body {
    background-color: black;
    text-align: center;
    margin: 0px;
}

#array-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.array-bar {
    background-color: white;
    display: inline-block;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    margin: 5px;
    outline: none;
    border-radius: 5px;
}
