body {
    background-color: #dddddd;
    text-align: center;
    margin: 0px;
}

.array-bar {
    width: 2px;
    background-color: blue;
    margin: 30px 1px;
    display: inline-block;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    margin: 5px;
    border-radius: 5px;
}
